@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}


body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	max-width: 1582px;
	background-color: #F6F2F2;
}

.intro,
.services,
.feature-products,
.team,
.subscribe,
.feedback-contacts-wrapper,
.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

header {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: stretch;
	max-width: 1249px;
	margin: 0 auto;
	margin-top: 29px;
	min-height: 89px;
	background-color: #000000;
}
    
.site-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	position: relative;
}

.site-menu > a {
	display: flex;
	flex-wrap: wrap;
	padding: 42.5px 25px 30px;
	color: #E0E0E0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	flex-wrap: wrap;
}

.site-menu a:hover {
	background-color: #ff3f40;
}

.intro {
    padding: 90px 0 117px;
}

.intro-wrapper {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-right: 68px;
}

.intro-wrapper h1 {
	margin: 0;
	font-size: 60px;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;
	max-width: 520px;
	word-break: break-word;
   
}

.intro-text {
	max-width: 520px;
	margin-bottom: 48px;
    opacity: 0.7;
}

.contact-link {
	color: #ffffff;
    display: inline-block;
 	background-color: #ff3f40;
	width: 227px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
}

.intro-image {
	display: inline-block;
	width: 551px;
    height: 356px;
 }

/*2 блок Services*/

.services {
    padding: 48px 0 123px;
    padding-top: 55px;
    padding-bottom: 53px;
    border-bottom: 5px solid #ececec;
}

.services-lead-wrapper {
	flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

h2{
	color: #000000;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}

h3{
	color: #000000;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	position: relative;
}
.management:before{
	content: url("../images/Management.svg");
	width: 43px;
 	height: 44px;
 }

.ux:before{
	content: url("../images/UX.svg");
	width: 42px;
 	height: 40px;
}

.branding:before{
	content: url("../images/Branding.svg");
	width: 43px;
 	height: 44px;
}

.animation:before{
	content: url("../images/Animation.svg");
	width: 46px;
 	height: 36px;
}


p{
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}

.services-link{
	color: #FF2D2D;
    display: inline-block;
 	background: rgba(0, 0, 0, 0.0001);
	border: 2px solid #FF0000;
	width: 223px;
	height: 53px;
    padding: 0;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
    font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.services-wrapper {
	display: flex;
	max-width: 609px;
    /*height: 356px;*/
    flex-wrap: wrap;
    margin-left: 88px;
}

.service {
    flex: 1 1 288px;
    max-width: 272px;
    margin-bottom: 50px;
    margin-right: 32px;
}

/*3 блок Products*/

.feature-products{
	padding-top: 10px;
	text-align: center;
	 
}
.feature-header {
	width: 100%;
    text-align: center;
    margin-bottom: 67px;
}
.feature-heading{
	margin-bottom: 16px;
	padding-left: 42px;
}

.feature-text{
	max-width: 536px;
	margin: 0 auto 30px;
    opacity: 0.7;
    padding-left: 36px;
}
.header-line {
	width: 134px;
	height: 3px;
	background-color: #FF2D2D;
	border: none;
}
.products-filter {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.products-filter a {
	position: relative;
    left: 45px;
	color: #000;
	margin-right: 55px;
	font-size: 22px;
	font-family: 'OpenSans SemiBold';
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}

.products-filter a.active {
	color: #ff2d2d;
	opacity: 1;
}

.products-filter a:hover {
	color: #ff2d2d;
}

.products-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	
}
.product{
	width: 301px;
    height: 293px;
    color: #fff;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #5281FF;
    margin: 0 auto;
    margin-top: 10px;
}

/*4 блок Team*/
.team{
	padding-top: 88px;
	padding-bottom: 110px;
}

.team-header{
	width: 100%;
	text-align: left;
	margin-bottom: 67px;
}

.team-text{
	max-width: 460px;
	margin-bottom: 30px;
}

.header-line-team {
	width: 134px;
	height: 3px;
	background-color: #FF2D2D;
	border: none;
	margin-right: 1112px;
}

.team-members-wrapper{
	width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.main-member-photo{
	width: 320px;
    height: 455px;
    background-color: #5281FF;
    margin-right: 77px;
}
.main-member-info {
    position: absolute;
    max-width: 642px;
    top: 5px;
    left: 393px;
}

.main-member-info > h3 {
    position: relative;
    bottom: 5px;
    font-size: 30px;
    font-family: 'OpenSans SemiBold';
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 16px;
}

.member-social-links > a {
	color: #000;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: italic;
	text-decoration: none;
	margin-right: 30px;
} 

.member-social-links > a:hover {
	text-decoration: underline;
}

.members-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.member{
	position: relative;
	background-color: #5281FF;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.member > h3 {
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
}

.member:hover > h3 {
	visibility: visible;
}

.member-photo {
	display: block;
	width: 197px;
	height: 214px;
	background-color: #5281FF;
}


/* Subscribe */

.subscribe {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: #2C2C2C;
	padding-top: 85px;
	padding-bottom: 140px;
}

.subscribe-wrapper {
	max-width: 1249px;
	margin: 0 auto;
	text-align: center;
}

.subscribe-heading {
	color: #fff;
	opacity: 0.8;
	text-transform: none;
	margin-bottom: 30px;
}

.subscribe-wrapper > p {
	color: #fff;
	opacity: 0.8;
	margin-bottom: 50px;
}

.subscribe-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	display: flex;
	flex-direction: row;
}
.email-input {
	color: grey;
	display: flex;
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	flex: 0 1 521px;
	width: 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
}

.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-family: 'OpenSans Bold';
	width: 210px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

/* Feedback */
.feedback-contacts-wrapper {
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-top: 55px;
	padding-bottom: 110px;
}

.feedback {
	max-width: 731px;
	margin-right: 107px;
}

.feedback > h2 {
	margin-bottom: 34px;
}

.feedback > p {
	max-width: 720px;
	margin-bottom: 50px;
}

.feedback-line {
	margin-left: 0;
	margin-bottom: 75px;
}

form {
	display: flex;
	flex-wrap: wrap;
}

.name-input,
.your-mail-input {
	width: 339px;
	max-width: 339px;
	height: 69px;
	color: #000000;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: 54px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;	
	margin-bottom: 45px;
}

.name-input {
	margin-right: 53px;
}

.message-input {
	resize: none;
	font-size: 16px;
	font-family: 'OpenSans Regular';
	width: 731px;
	max-width: 731px;
	height: 249px;
	box-sizing: border-box;
	padding-top: 35px;
	padding-left: 54px;
	padding-bottom: 150px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;	
}

.send-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 731px;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'OpenSans Bold';
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
} 

/* Contacts */
.contacts {
	position: relative;
	color: #e0e0e0;
	background-color: #2c2c2c;
	padding: 125px 78px;
}

.contacts > h2 {
	color: #FFFFFF;
	font-size: 18px;
}

.contacts > h2 {
	margin-bottom: 13px;
}

.contacts-adress {
	line-height: 28px;

}

.contacts-adress > p {
	margin-bottom: 17px;
	color: #FFFFFF;
}


.contacts-background {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 481px;
	background-color: #2c2c2c;
	clip-path: polygon(1000px 0, 100% 0, 100% 100%, 1000px 100%);
	/* Свойство clip-path позволяет наложить на элемент маску, которая может визуально скрыть части этого элемента. Макса может быть самой разной формы, в данном случае это прямоугольник. */
}

.contacts::after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	width: 100vw;
	height: 413px;
	background-color: #2c2c2c;
}

/*Футер*/
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1582px;
	background-color: #313030;

}
.footer-social-links{
	display: flex;
	justify-content: space-between;
	margin-right: 158px;
	margin-top: 40px;

}

.footer-social-links > a{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0px 10px 30px;
}

.footer-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #B8B8B8;
}

/* Responsive */
@media screen and (max-width: 1286px) {
	.intro {
		flex-wrap: nowrap;
	}
	.intro-wrapper {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.intro-heading {
		font-size: 5vw;
	}
	.intro-image-link {
		width: 50%;
		height: auto;
	}
	.intro-image {
		width: 100%;
		height: auto;
	}
	.products-wrapper {
		justify-content: flex-start;
	}
	.product {
		width: 299px;
		max-width: 100%;
		/* height: auto; */
		margin-right: 1vw;
	}
	.feedback-contacts-wrapper {
		flex-wrap: wrap;
		padding-left: initial;
    	padding-right: initial;
	}
	.feedback {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 1vw;
	}
	.contacts {
		width: 100%;
		max-width: 100%;
	}
	.contacts-background {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.main-member-info {
		position: initial;
	}
	.products-filter > li {
		width: 100%;
		text-align: center;
	}
	.services {
		justify-content: center;
	}
	.services-lead-wrapper,
	.services-wrapper {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.services-lead-wrapper {
		width: 100%;
		max-width: 100%;
	}
	.services-wrapper {
		width: 100%;
		max-width: 100%;
	}
	.contacts {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.feedback-form > input[name="name"],
	.feedback-form > input[name="email"],
	.feedback-form > textarea[name="message"],
	.feedback-form > button[type="submit"] {
		width: 100%;
		max-width: 100%;
	}
	.feedback-form > input[name="name"] {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	header {
		padding-left: 20px;
	}
	.intro {
		flex-wrap: wrap;
	}
	.intro-wrapper {
		width: 100%;
	}
	.intro-image-link {
		width: 100%;
	}
	.intro-image {
		width: 100%;
		height: auto;
	}
	.intro-heading {
		font-size: 50px;
	}
}

@media screen and (max-width: 400px) {
	.subscribe-form {
		flex-wrap: wrap;
	}
}